<div class="flexBox">
	<div id="presto-content">
		<div id="sidebar-area">

			<div class="overlay-message saveStatus saving">
				<div class="panel panel-default">
					<div class="panel-body">
						<i class="fa fa-refresh fa-spin"></i>&nbsp;Saving...
					</div> <!-- / .panel-body -->
				</div> <!-- / .panel -->
			</div> <!-- / .overlay-message -->

			<div class="overlay-message saveStatus saved">
				<div class="panel panel-default">
					<div class="panel-body">
						<i class="fa fa-check text-success"></i>&nbsp;Saved
					</div> <!-- / .panel-body -->
				</div> <!-- / .panel -->
			</div> <!-- / .overlay-message -->

			<div id="q-container">
				<%= nested_form_for([@press_room, @press_release], html: { multipart: true }, remote: true, authenticity_token: true) do |f| %>

				<div class="prestoNav">
					<ul id="prestoNavUL">

					</ul>
				</div>
				<div id="top-container" class="text-center">
					<h6 id="presto-type"><%= @press_release.press_release_type.name %></h6>
				</div>
				<div class="text-center" id="bottom-container">
	                <div class="col-xs-4">
		                <%= button_tag class: "btn btn-ghost2 prestoSkipBtn pull-left", id: "prev" do %>
						<i class="fa fa-arrow-left"></i>&nbsp;Föregående
						<% end %>
	                </div>
	                <div class="col-xs-4">
	                    <%= link_to [@press_room, @press_release] do %>
					<button class="btn btn-success" id="distribute" role="button">Klar</button>
					<% end %>
	                </div>
	                <div class="col-xs-4">
	                    <%= button_tag class: "btn btn-ghost prestoSkipBtn pull-right", id: "next" do %>
					Nästa&nbsp;<i class="fa fa-arrow-right"></i>
					<% end %>
	                </div>
	            </div> <!-- / #bottom-container -->

				<% if @press_release.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@press_release.errors.count, "error") %> prohibited this press_release from being saved:</h2>

					<ul>
						<% @press_release.errors.full_messages.each do |message| %>
						<li><%= message %></li>
						<% end %>
					</ul>
				</div>
				<% end %>

				<%= f.hidden_field :press_release_type_id %>

				<%= render 'press_releases/fields/newsroom', f: f %>

				<div class="question" id="q1">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<i class="fa fa-question-circle fa-lg intHelp pull-right hidden-xs text-primary hints" data-toggle="tooltip" data-placement="left" title="Toggle help"></i>
										<h3 class="panel-title text-left">Från vilket datum får journalister publicera information från detta pressmeddelande?</h3>
									</div> <!-- / .panel-heading -->
									<div class="panel-body">
										<%= f.date_select :embargo, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
									</div> <!-- / .panel-body -->
								</div> <!-- / .panel -->
							</div> <!-- / .col-xs-12 -->
						</div> <!-- / .row -->
					</div> <!-- / .container-fluid -->
				</div> <!-- / .question -->


				<div class="overlay-message" id="modal1">
					<div class="panel panel-default">
						<div class="panel-body">
							<button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h5>
								<span class="text-primary"><strong>Remember: </strong></span>
							</h5>
							<p>
								Set a date for when it's okay for journalists to spread the information from this press release.
							</p>
						</div> <!-- / .panel-body -->
					</div> <!-- / .panel -->
				</div> <!-- / .overlay-message -->


				<div class="question" id="q<%= 2 + @field_count %>">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<i class="fa fa-question-circle fa-lg intHelp pull-right hidden-xs text-primary hints" data-toggle="tooltip" data-placement="left" title="Toggle help"></i>
										<p class="panel-title text-left">Pressmeddelandets rubrik</p>
									</div> <!-- / .panel-heading -->
									<div class="panel-body">
										<%= f.text_field :title, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
									</div> <!-- / .panel-body -->
								</div> <!-- / .panel -->
							</div> <!-- / .col-xs-12 -->
						</div> <!-- / .row -->
					</div> <!-- / .container-fluid -->
				</div> <!-- / .question -->
				
				<% break_counter = 0 %>
				
				<% field_counter = "" %>
				
				<%= f.fields_for :properties, OpenStruct.new(@press_release.properties) do |builder| %>
					<% @press_release.press_release_type.fields.each_with_index do |field, index| %>
						
						<!-- Den här approachen funkar! -->
						
						<% field_counter = index - break_counter %>
							
						<% if field.field_type == "line_break" %>
				
							<% break_counter += 1 %>

							<% field_counter = index - break_counter %>
				
						<% end %>
						
						<%= render "press_releases/fields/#{field.field_type}", field_counter: field_counter, field: field, index: index, f: builder %>
						
					<% end %>
				<% end %>

				<div class="question" id="q<%= 3 + @field_count %>">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12">
								<h4 class="question-title">Länkar och videoklipp</h4>
								<%= f.fields_for :links do |link| %>
									<%= render 'press_releases/fields/links', f: link %>
								<% end %>

								<div class="text-center">
									<%= f.link_to_add :links, class: "add-new" do %>
                                    	<button class="btn btn-ghost"><i class="fa fa-plus"></i> Add new</button>
                                    <% end %>
                                </div>
							</div> <!-- / .col-xs-12 -->
						</div> <!-- / .row -->
					</div> <!-- / .container-fluid -->
				</div> <!-- / .question -->

				<div class="overlay-message" id="modal<%= 3 + @field_count %>">
					<div class="panel panel-default">
						<div class="panel-body">
							<button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Stäng</span></button>
							<h5>
								<span class="text-primary"><strong>Exempel: </strong></span>
							</h5>
							<p>
								Klistra in din länk i länkfältet och skriv en kort förklaring i beskrivnings-fältet.
							</p>
							<br>
							<h5>
								<span class="text-primary"><strong>Kom ihåg: </strong></span>
							</h5>
							<p>
								Dubbelkolla att dina länkar fungerar. Videolänkar från Youtube och Vimeo visas som inbakade videoklipp direkt i ditt pressmeddelande.
							</p>
						</div> <!-- / .panel-body -->
					</div> <!-- / .panel -->
				</div> <!-- / .overlay-message -->


				<div class="question" id="q<%= 4 + @field_count %>">

					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12">
								<h4 class="question-title">Bilder</h4>
								<%= f.fields_for :uploads do |upload| %>
									<%= render 'press_releases/fields/uploads', f: upload %>	
								<% end %>

								<div class="text-center">
									<%= f.link_to_add :uploads, class: "add-new" do %>
										<button class="btn btn-ghost"><i class="glyphicon glyphicon-plus"></i> Lägg till bild</button>
									<% end %>
								</div>
								<br>
							</div> <!-- / .col-xs-12 -->
						</div> <!-- / .row -->
					</div> <!-- / .container-fluid -->
				</div> <!-- / .question -->


				<div class="overlay-message" id="modal<%= 4 + @field_count %>">
					<div class="panel panel-default">
						<div class="panel-body">
							<button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Stäng</span></button>

							<h5>
								<span class="text-primary"><strong>Kom ihåg: </strong></span>
							</h5>
							<p>
								I dagsläget går det bara att ladda upp bilder.
							</p>
						</div> <!-- / .panel-body -->
					</div> <!-- / .panel -->
				</div> <!-- / .overlay-message -->


				<div class="question" id="q<%= 5 + @field_count %>">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<p class="panel-title text-left">Done!</p>
									</div> <!-- / .panel-heading -->
									<div class="panel-body">
										<p>
											Läs igenom ditt färdiga pressmeddelande nog och klicka "Klar" när du känne dig färdig. Då får du se ditt färdiga pressmeddelande och har möjlighet att skicka ut pressmeddelandet till media. Du kan alltid gå tillbaka och ändra i ditt pressmeddelande om du vill.
										</p>
									</div> <!-- / .panel-body -->
								</div> <!-- / .panel -->
							</div> <!-- / .col-xs-12 -->
						</div> <!-- / .row -->
					</div> <!-- / .container-fluid -->
				</div> <!-- / .question -->
			</div> <!-- / #q-container -->						
			<% end %>
		</div> <!-- / #sidebar-area -->
		<div id="preview-area">

			<div class="overlay"></div>
			<div id="preview"><p>Förhandsvisning</p></div>

			<div class="container-fluid pr-container">
				<%= render "press_releases/partials/press_release", locals: { press_release: @press_release } %>
			</div> <!-- / .prContainer -->
		</div> <!-- / #preview-area -->

        <!-- <div class="preview-bar">
<p>Preview Area</p>
<button class="btn btn-success pull-right">Save as draft</button>
</div> -->
</div> <!-- / #presto-content -->
</div> <!-- / .flexBox -->