<div class="short-page">
    <div class="container">

        <div class="col-sm-6 col-sm-offset-4 col-xs-12">
            <div class="row bs-wizard" style="border-bottom:0;">

                <div class="col-sm-4 col-xs-6 bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum">Steg 1</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <span class="bs-wizard-dot"></span>
                    <div class="bs-wizard-info text-center">Välj distribution</div>
                </div>

                <div class="col-sm-4 col-xs-6 bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum">Steg 2</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center">Bekräfta val & beställ</div>
                </div>

            </div>
        </div>

        <div class="clearfix"></div>

        <h3 class="text-center">Distribution av "<%= @press_release.title %>"</h3>
        <br>
        <!-- <h5 class="text-muted text-center">Steg 1 av 2</h5> -->

				<%= form_for([@press_room, @press_release, @distribution], url: press_room_press_release_distributions_path) do |f| %>
				  <% if @distribution.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@distribution.errors.count, "error") %> prohibited this distribution from being saved:</h2>
							
				      <ul>
				      <% @distribution.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
					
					<%= f.hidden_field :press_release_id, value: @press_release.id %>
					
        <div class="col-sm-6">
             <div class="panel">
                 <div class="panel-body">
                     <h4>Hur många publikationer vill ni max publiceras i och betala för?</h4>
                     <p class="help-block">Vi gör allt för att er nyhet ska få den media den förtjänar, och ni betalar enbart för det resultat vi lyckas uppnå.</p>
                         <div class="form-group">
                             <div class="radio">
                                <label>
																		<%= f.radio_button :no_publications, '1' %>
                                    
                                    1 publikation - 5 000 kr
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <%= f.radio_button :no_publications, '2' %>
																		
                                    2 publikationer - 10 000 kr
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <%= f.radio_button :no_publications, '3' %>
																		
                                    3 publikationer - 15 000 kr
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <%= f.radio_button :no_publications, '4' %>
																		
                                    4 publikationer - 20 000 kr
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <%= f.radio_button :no_publications, '5' %>
																		
                                    5 publikationer - 25 000 kr
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <%= f.radio_button :no_publications, '5+' %>
																		
                                    fler än 5 publikationer - 30 000 kr
                                </label>
                            </div>
                            <br>
                            <div class="radio">
                                <label>
                                    <%= f.radio_button :no_publications, 'Prenumeration' %>
																		
                                    Prenumeration - 2000 kr / månad (obegränsat antal utskick)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <%= f.radio_button :no_publications, 'Redan prenumerant' %>
																		
                                    Redan prenumerant
                                </label>
                            </div>
                         </div>
                 </div> <!-- / .panel-body -->
             </div> <!-- / .panel -->

             <div class="panel">
                 <div class="panel-body">
                    <h4>Vilken publikation vill ni helst nå ut i med just det här pressmeddelandet? <span class="text-muted"></span></h4>
                    <p class="help-block">Rangordna upp till fem stycken. (T ex Aftonbladet, TechCrunch, Mama)</p>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon1">1.</span>
                        <%= f.text_field :preferred1, class: "form-control", html: { "aria-describedby" => "sizing-addon1" } %>
                    </div>
                    <br>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon1">2.</span>
												<%= f.text_field :preferred2, class: "form-control", html: { "aria-describedby" => "sizing-addon1" } %>
                    </div>
                    <br>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon1">3.</span>
                        <%= f.text_field :preferred3, class: "form-control", html: { "aria-describedby" => "sizing-addon1" } %>
                    </div>
                    <br>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon1">4.</span>
                        <%= f.text_field :preferred4, class: "form-control", html: { "aria-describedby" => "sizing-addon1" } %>
                    </div>
                    <br>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon1">5.</span>
                        <%= f.text_field :preferred5, class: "form-control", html: { "aria-describedby" => "sizing-addon1" } %>
                    </div>
                 </div>
             </div> <!-- / .panel -->

             <div class="panel">
                 <div class="panel-body">
                    <h4>Från vilken dag vill du att vi ska börja skicka ut ert pressmeddelande?</h4>
                    <p class="help-block">Tidigast tre arbetsdagar från idag</p>
                    <div class="input-group">
                        <%= f.date_field :distribution_date %>
                    </div>
                 </div>
             </div> <!-- / .panel -->

             <div class="panel">
                 <div class="panel-body">
                    <h4>Meddelande till NewsHubby <span class="text-muted">(frivilligt)</span></h4>
                    <p class="help-block">Om du har några övriga önskemål eller frågor</p>
                    <%= f.text_area :misc_information, class: "form-control", rows: "3" %>
                    <br>
                    <p class="small"><span class="text-warning"><strong>Viktigt!</strong></span> För att göra ett så bra PR-arbete som möjligt ger vi ofta en journalist/ publikation rätten att vara först om en nyhet i ett par timmar, det vill säga vi ger “exklusivitet”. Det innebär att vi arbetar med utskicket i flera dagar. Under den här perioden är det viktigt att inte ni själva, eller någon annan, skickar ut pressmeddelandet, då det kan komma att minimera journalistens förtroende för er, och därmed chansen att nå ut nästa gång. Vi informerar via mail när vi är klara med hela utskicket. För mer information om hur vår distribution fungerar besök vår <%= link_to "F.A.Q.", questions_path %></p>
                    <%= f.submit "Nästa" , class: "btn btn-primary btn-lg btn-block" %>
                 </div>
            </div> <!-- / .panel -->
        </div> <!-- / .col-sm-6 -->
				<% end %>

				<%= render "distributions/questions" %>

    </div> <!--- / .container -->
    <div class="push"></div>
</div>