<p id="notice"><%= notice %></p>

<p>
  <strong>No publications:</strong>
  <%= @distribution.no_publications %>
</p>

<p>
  <strong>Preferred1:</strong>
  <%= @distribution.preferred1 %>
</p>

<p>
  <strong>Distribution date:</strong>
  <%= @distribution.distribution_date %>
</p>

<p>
  <strong>Misc information:</strong>
  <%= @distribution.misc_information %>
</p>

