<%= form_for([@category, @press_release_type]) do |f| %>
  <% if @press_release_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@press_release_type.errors.count, "error") %> prohibited this press_release_type from being saved:</h2>

      <ul>
      <% @press_release_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.hidden_field :category_id %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
	
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
	
	<%= f.fields_for :fields do |builder| %>
		<%= render 'field_fields', f: builder %>
	<% end %>
	<%= link_to_add_fields "Add Field", f, :fields %>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
