<div id="index-bkg">
    <div class="switch-site"><small><a href="http://www.newshubby.com/">Go to NewsHubby's international site</a></small></div>
    <div class="container index-container">
        <div id="indexText">
            <h1>Välkommen!</h1>
            <h2>Här hjälper vi dig att skapa och nå ut med dina pressmeddelanden
            </h2>
            <% if current_press_room %>
            <%= link_to categories_path do %><button class="btn btn-action btn-lg">Skapa ett pressmeddelande nu</button><% end %>
            <% else %>
            <%= link_to "#" do %><button class="btn btn-action btn-lg" data-toggle="modal" data-target="#signUp">Skapa ett pressmeddelande nu</button><% end %>
            <% end %>
            <br><br>
            <!-- <h3 class="text-center"></h3> -->
        </div>
        <div class="scrollDown"><a href="#video"><span class="btn btn-ghost">Läs mer</span><i class="fa fa-angle-down"></i></a></div>

    </div>
</div>
<div class="container-fluid pink-container">
    <div class="container index-container frontpage-container">
        <a id="video"></a>
        <br class="hidden-xs"><br class="hidden-xs">
        <div class="row">
            <h2 class="text-center">Så här använder du newshubby</h2>
            <br>
            <div class="col-sm-4">
                <div class="panel dark-pink-panel">
                    <div class="panel-body">
                        <p>
                            <span style="font-size: 2em; line-height: 1em;">1.</span> Välj din bransch och typ av nyhet du vill skriva om bland våra många pressmeddelande-mallar.
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <p class="">
                            <small>
                                <i class="fa fa-desktop"></i>
                                <br>
                                TECH
                            </small>
                        </p>
                    </div>
                    <div class="col-xs-4 text-center">
                        <p class="text-center">
                            <small>
                                <i class="fa fa-shopping-cart"></i>
                                <br>
                                DETALJHANDEL
                            </small>
                        </p>
                    </div>
                    <div class="col-xs-4 text-center">
                        <p class="text-center">
                            <small>
                                <i class="fa fa-music"></i>
                                <br>
                                MUSIK
                            </small>
                        </p>
                    </div>
                    <div class="col-xs-4 text-center">
                        <p class="text-center">
                            <small>
                                <i class="fa fa-camera-retro"></i>
                                <br>
                                MODE
                            </small>
                        </p>
                    </div>
                    <div class="col-xs-4 text-center">
                        <p class="text-center">
                            <small>
                                <i class="fa fa-suitcase"></i>
                                <br>
                                NÄRINGSLIV
                            </small>
                        </p>
                    </div>
                    <div class="col-xs-4 text-center">
                        <p class="text-center">
                            <small>
                                <i class="fa fa-ellipsis-h"></i>
                                <br>
                                MER
                            </small>
                        </p>
                    </div>
                </div> <!--/.row-->
                <br>
            </div>
            <div class="col-sm-4">
                <div class="panel dark-pink-panel">
                    <div class="panel-body">
                        <p>
                            <span style="font-size: 2em; line-height: 1em;">2.</span> Skapa enkelt ett levande pressmeddelande innehållandes text, bilder, videor och länkar med vårt gör-det-själv-verktyg.
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <!-- style="height: 1em; line-height: 1em; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);" -->
                    <p class="text-center" style="vertical-align: middle;">
                        <span style="vertical-align:middle;"><i class="fa fa-align-left"></i> + <i class="fa fa-picture-o"></i> + </span>
                        <span style="font-size:3em; vertical-align:middle;"><i class="fa fa-file-o"></i></span>
                        <span style="vertical-align:middle;"> + <i class="fa fa-film"></i> + <i class="fa fa-link"></i></span>
                    </p>
                </div>
                <br>
            </div>
            <div class="col-sm-4">
                <div class="panel dark-pink-panel">
                    <div class="panel-body">
                        <p>
                            <span style="font-size: 2em; line-height: 1em;">3.</span> Luta dig tillbaka medan newshubby scannar ditt pressmeddelande och distribuerar det till relevanta journalister och mediekanaler.
                        </p>
                    </div>
                </div>
                <br>
                <div style="">
                    <p class="text-center">
                        <i class="fa fa-globe fa-5x"></i>
                    </p>
                </div>
            </div>
        </div> <!-- / .row-->
        <br><br>
        <div class="row text-center">
            <% if current_press_room %>
            <%= link_to categories_path do %><button class="btn btn-ghost btn-lg">Skapa ett pressmeddelande nu</button>
            <% end %>
            <% else %>
            <%= link_to "#" do %><button class="btn btn-ghost btn-lg" data-toggle="modal" data-target="#signUp">Skapa ett pressmeddelande nu</button><% end %>
            <% end %>
        </div>

    </div><!-- /.container -->
</div><!-- /.container-fluid -->


<div class="container-fluid" style="background-color: #f8f8f8;">
    <div class="container index-container">
        <a id="video"></a>
        <br class="hidden-xs"><br class="hidden-xs">

        <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3">
            <h2 class="text-center">Advertising is what you pay for - Publicity is what you pray for</h2>
            <br>
            <p style="font-size: 1.2em;">Visste du att en publicerad artikel är upp till  90% mer effektiv än en betald annons? Spara både tid och pengar med NewsHubby. Vi hjälper dig att enkelt skapa ditt pressmeddelande som vi sedan distribuerar till relevanta journalister som vi vet är intresserade av just den typen av nyhet.</p>
            </div>
        </div> <!-- / .row-->
        <br><br>
    <div class="row text-center">
        <% if current_press_room %>
        <%= link_to categories_path do %><button class="btn btn-action btn-lg">Skapa ett pressmeddelande nu</button>
        <% end %>
        <% else %>
        <%= link_to "#" do %><button class="btn btn-action btn-lg" data-toggle="modal" data-target="#signUp">Registrera gratis nu</button><% end %>
        <% end %>
    </div>
</div>
<br>
</div><!-- /.container -->

<div class="container-fluid pink-container">
    <div class="container index-container" style="padding-top: 4em; padding-bottom: 4em;">
        <div class="row text-center">
            <div class="col-sm-4 text-center">
                <h1 style="font-size: 4em;">3 500 +</h1>
                <p>Så många journalister finns i vår växande databas</p>
            </div>
            <div class="col-sm-4 text-center">
                <h1 style="font-size: 4em;">23</h1>
                <p>I så många länder finns våra journalistkontakter</p>
            </div>
            <div class="col-sm-4 text-center">
                <h1 style="font-size: 4em;">58</h1>
                <p>Så här många olika pressmeddelade-mallar finns det på NewsHubby just nu, och det tillkommer hela tiden nya för olika branscher och sammanhang</p>
            </div>
        </div>

    </div><!-- /.container -->
</div><!-- /.container-fluid -->

<div class="container-fluid" style="background-color: #f8f8f8;">
    <div class="container index-container">
        <a id="video"></a>
        <br class="hidden-xs"><br class="hidden-xs">

        <div class="row">
            <h2 class="text-center">Prismodeller</h2>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <p class="text-center" style="font-size: 1.2em;">Att registrera ett NewsHubby-konto är gratis. Du kan ta ställning till vilken modell du vill använda när det väl är dags att distribuera ditt pressmeddelande.</p><br>
                </div>
            </div>

            <div class="col-sm-5 col-sm-offset-1">
                <div class="panel panel-default panel-dashed">
                    <div class="panel-body">
                        <h3 class="text-center">Standard</h3>
                        <h5 class="text-center">Gratis</h5>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-check text-action"></i>Eget pressrum</li><br>
                            <li><i class="fa-li fa fa-check text-action"></i>Tillgång till pressmeddelande-mallar</li><br>
                            <li><i class="fa-li fa fa-check text-action"></i>Skapa obegränsat antal pressmeddelanden</li>
                        </ul>
                        <br>
                        <div class="text-center"><i class="fa fa-plus text-action"></i></div>
                        <h3 class="text-center"><span class="text-muted">Valbart tillägg</span><br>Betala per publikation</h3>
                        <h5 class="text-center">5000 SEK / publikation</h5>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-check text-action"></i>Matchning och distribution till journalister.</li><br>
                            <li><i class="fa-li fa fa-check text-action"></i>Betala <strong>endast</strong> när du når ut, och bestäm själv vad det maximalt får kosta.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="panel panel-default panel-pink">
                    <div class="panel-body">
                        <h3 class="text-center">Premium</h3>
                        <h5 class="text-center">2000 SEK / mån</h5>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-check"></i>Eget pressrum</li><br>
                            <li><i class="fa-li fa fa-check"></i>Tillgång till pressmeddelande-mallar</li><br>
                            <li><i class="fa-li fa fa-check"></i>Skapa obegränsat antal pressmeddelanden</li><br>
                            <li><i class="fa-li fa fa-check"></i><strong>Obegränsad</strong> matchning och distribution till journalister</li>
                        </ul>
                        <br>
                </div>
            </div>
        </div>
    </div> <!-- / .row-->
    <div class="row text-center">
        <% if current_press_room %>
        <%= link_to categories_path do %><button class="btn btn-action btn-lg">Skapa ett pressmeddelande nu</button>
        <% end %>
        <% else %>
        <%= link_to "#" do %><button class="btn btn-action btn-lg" data-toggle="modal" data-target="#signUp">Registrera nu</button><% end %>
        <% end %>
    </div>
</div>
<br>
</div><!-- /.container -->

<!-- <div class="container-fluid latest-pressreleases">
    <div class="container">
        <br>
        <h3 class="text-center">Senast publicerade pressmeddelanden</h3>
        <div class="container">
            <div class="row">
            </div>
            <div class="row">
                <div class="masonry-container transitions-enabled">
                    <% @press_releases.each do |press_release| %>
                    <div class="col-sm-6 col-md-4 col-lg-3 brick">
                        <div class="thumbnail">
                            <% unless press_release.uploads.first.nil? %>
                            <%= link_to press_room_press_release_path(press_release.press_room, press_release) do %>
                            <%= image_tag press_release.uploads.first.file.url(:medium), class: "img-responsive", alt: "" %><% end %>
                            <% end %>

                            <div class="caption">
                                <time class="pull-right text-muted clearfix" datetime="2014-10-28 20:00">
                                    <small>
                                        <%= time_ago_in_words(press_release.embargo) %>
                                    </small>
                                </time>
                                <%= link_to press_room_press_release_path(press_release.press_room, press_release) do %>
                                <h4>
                                    <%= press_release.title %>
                                </h4>
                                <% end %>
                            </div>

                            <%= link_to press_release.press_room do %>
                            <%= image_tag press_release.press_room.logo.url(:thumb), class: "thumbnail-logotype clearfix" %>
                            <% end %>

                        </div>
                    </div>
                    <% end %>
                </div>
                <div class="text-center"><%= will_paginate @press_releases %></div>

            </div>
        </div>

        <br>
    </div>
</div> -->
</div>

<script>

$(document).ready(function () {

    /* Scrolla till anchors */
    var $root = $('html, body');
    $('a').click(function () {
        $root.animate({
            scrollTop: $($.attr(this, 'href')).offset().top - 50
        }, 500);
        return false;
    });

    if(! /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        /* Fade in navbar*/
        var fadeStart = 100 // 100px scroll or less will equiv to 0 opacity
        ,fadeUntil = 200 // 100px scroll or more will equiv to 1 opacity
        ,fading = $('.transparentNavbar');

        $(window).bind('scroll', function () {
            var offset = $(document).scrollTop(), opacity = 0;
            if (offset <= fadeStart) {
                opacity = 0;
            } else if (offset <= fadeUntil) {
                opacity = (offset - fadeStart) / (fadeUntil - fadeStart);
            } else if (offset > fadeUntil) {
                opacity = 1;
            }
            fading.css('background-color', 'rgba(248,248,248,' + opacity + ')');
        });

        var arrow = $('.scrollDown');

        $(window).bind('scroll', function () {
            var offset = $(document).scrollTop(), opacity = 1;
            if (offset <= fadeStart) {
                opacity = 1;
            } else if (offset <= fadeUntil) {
                opacity = 1-((offset - fadeStart) / (fadeUntil - fadeStart));
            } else if (offset > fadeUntil) {
                opacity = 0;
            }
            arrow.css('opacity', opacity);
        });
    }

});

/* $('#indexTab a').click(function (e) {
e.preventDefault()
$(this).tab('show')
}) */

</script>
