<div class="short-page">
  <div class="container">
      <div class="row">
          <div class="col-md-10">
              <h4>
                  Pressrum
									<% if can? :update, @press_room %>
                  <span class="pull-right hidden-xs">
											<%= link_to edit_press_room_path, id: "edit-pressroom-btn", class: "edit-pencil pull-right" do %>
                          <small><i class="fa fa-pencil">&nbsp;Redigera pressrum</i></small>
                      <% end %>
                  </span>
									<% end %>
              </h4>
              <hr class="header-hr">
          </div>
      </div>
      <div class="row">
          <div class="col-sm-7 col-md-6">
              <div id="company-basic-info">
                  <h5>Grundläggande information
											<% if can? :update, @press_room %>
											<%= link_to edit_press_room_path, id: "edit-company-basic-info-btn", class: "edit-pencil pull-right" do %>
                          <small><i class="fa fa-pencil">&nbsp;Ändra</i></small>
                      <% end %><% end %>
                  </h5>
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-md-12">

                                  <div class="col-sm-8">
                                      <h2><%= @press_room.company_name %></h2>
                                          <p>grundat i <%= l(@press_room.founded, format: '%B %Y') unless @press_room.founded.blank? %></p>
                                          <ul id="company-basic-info-list">
                                              <li><i class="fa fa-map-marker fa-fw"></i>&nbsp;<%= link_to "https://www.google.com/maps/place/#{@press_room.latitude},#{@press_room.longitude}", target: "_blank" do %><%= @press_room.location %><% end %></li>
                                              <li><i class="fa fa-home fa-fw"></i>&nbsp;<%= link_to @press_room.website, @press_room.website %></li>
                                              <li><i class="fa fa-envelope fa-fw"></i>&nbsp;<%= mail_to @press_room.press_email, @press_room.press_email %></li>
                                              <li><i class="fa fa-twitter fa-fw"></i>&nbsp;<%= link_to @press_room.twitter, @press_room.twitter %></li>
                                              <li><i class="fa fa-phone fa-fw"></i>&nbsp;<%= link_to @press_room.phone, "tel:#{@press_room.phone}" unless @press_room.phone.blank? %></li>
                                          </ul>
                                  </div>
                                  <div class="col-sm-4">
																		<div class="centerContainer">
																			<div class="centerContent">
                                      <%= image_tag @press_room.logo.url(:medium), class: "img-responsive", alt: "#{@press_room.company_name.pluralize} logotype" unless @press_room.company_name.blank? %>
																			</div>
																		</div>
                                  </div>
                              </div> <!-- /. col-md-12 -->
                          </div> <!-- /. row -->
                      </div> <!-- / .panel-body -->
                  </div> <!-- / .panel -->
              </div> <!-- / #company-basic-info -->
              <div id="company-details">
                  <h5>
                      Introduktion
											<% if can? :update, @press_room %>
											 <%= link_to edit_press_room_path(@press_room, anchor: "companydetails"), id: "edit-company-details-btn", class: "edit-pencil pull-right" do  %>
                          <small><i class="fa fa-pencil">&nbsp;Ändra</i></small>
                        <% end %>
                      <% end %>
                  </h5>
                  <div class="panel panel-default">
                      <div class="panel-body">

                          <div class="col-xs-12">

															<% unless @press_room.problem_solved.blank? %>
                              <h5>Problemlösning</h5>
                              <p><%= @press_room.problem_solved %></p>
															<% end %>

															<% unless @press_room.business_model.blank? %>
                              <h5>Affärsplan</h5>
                              <p><%= @press_room.business_model %></p>
															<% end %>

															<% unless @press_room.competition.blank? %>
                              <h5>Konkurrens</h5>
                              <p><%= @press_room.competition %></p>
															<% end %>
                          </div>
                      </div> <!-- / .panel-body -->
                  </div> <!-- / .panel -->
              </div><!-- / #company-details -->
              <div id="company-funding">
                  <h5>
                      Finansiering
											<% if can? :update, @press_room %>
											<%= link_to edit_press_room_path(@press_room, anchor: "funding"), id: "edit-company-funding-btn", class: "edit-pencil pull-right" do  %>
                          <small><i class="fa fa-pencil">&nbsp;Ändra</i></small>
                      <% end %><% end %>
                  </h5>
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <ul>

															<% @press_room.fundings.each do |funding| %>
															<% if funding.investment_type == "Bootstrapped" %>
															<li>Bootstrapped</li>
															<% elsif funding.investment_type == "Inget riskkapital" %>
															<li>Inget riskkapital</li>
															<% else %>
                              <li><%= funding.investment_type %>: <%= funding.name %><br>
                                  <%= l(funding.date, format: '%B %Y') unless funding.date.blank? %> | <%= funding.sum + " kr" %>
															</li>
															<% end %>
															<% end %>
                              </ul>
                          </div>
                      </div>
                  </div> <!-- / #company-funding -->
                  <div id="company-people">

                      <h5>Teamet
													<% if can? :update, @press_room %>
													<%= link_to edit_press_room_path(@press_room, anchor: "keypeople"), id: "edit-company-people-btn", class: "edit-pencil pull-right" do  %>
		                          <small><i class="fa fa-pencil">&nbsp;Ändra</i></small>
		                      <% end %><% end %>
                      </h5>
											<% @press_room.people.each do |person| %>
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="panel panel-default">
                                  <div class="panel-body">
                                      <div class="media">
                                          <div class="media-body">
                                              <h4 class="media-heading"><%= person.name %></h4>
                                              <p>
                                                  <%= person.position %><br><small><%= person.presentation %></small>
                                              </p>
                                          </div> <!-- / .media-body -->
                                      </div> <!-- / .media -->
                                  </div> <!-- / .panel-body -->
                              </div> <!-- / .panel -->
                          </div> <!-- / .col-sm-6 -->
                      </div> <!-- / .row -->
											<% end %>
                  </div> <!-- / #company-people -->

                 <!-- Fattas links-sektion här -->

              </div> <!-- / .col -->

              <div class="col-sm-5 col-md-4">
                  <div class="row">
                      <div class="col-xs-12">
                          <h5>Senaste pressmeddelanden</h5>
													<% if @press_releases.blank? %>
                          <h5 class="text-muted"><%= @press_room.company_name %> har inga publicerade pressmeddelanden ännu.</h5>
													<% end %>
                      </div>
                  </div>
									<% @press_releases.each do |press_release| %>
                  <div class="thumbnail">
                      <div class="pr-thumbnail-options">

                          <%= link_to [@press_room, press_release], class: "btn btn-sm btn-primary", role: "button" do %><i class="fa fa-eye"></i>&nbsp;Läs<% end %>
													<% if can? :update, press_release %>
                          <%= link_to edit_press_room_press_release_path(@press_room, press_release), class: "btn btn-sm btn-default", role: "button" do %><i class="fa fa-pencil" title="Edit this press release">&nbsp;Redigera</i><% end %>

                         <%= link_to press_room_press_release_path(@press_room, press_release), title: "Delete" , method: :delete, data: { confirm: "Är du säker på att du vill ta bort pressmeddelandet? Du kan inte ångra det senare." } do %><button class="btn btn-sm btn-danger"><i class="fa fa-times" title="Permanently delete this press release">&nbsp;Ta bort</i></button><% end %>
													<% end %>
                      </div>
											<%= link_to [@press_room, press_release] do %>
												<%= image_tag press_release.uploads.first.file.url(:medium), alt: "" unless press_release.uploads.blank? %>
											<% end %>
                      <div class="caption">
                          <time class="pull-right text-muted clearfix" datetime="<%= press_release.embargo.strftime("%D") unless press_release.embargo.blank? %>">
                              <small>
                                  <%= l(press_release.embargo, format: '%d %B %Y') unless press_release.embargo.blank? %>
                              </small>
                          </time>
                          <%= link_to [@press_room, press_release] do %><h4><%= press_release.title %></h4><% end %>
                          <p></p>
                          <% if can? :update, press_release %>
													<div class="text-center">
                              <a href="#">
                                  <span class="label label-danger"><i class="fa fa-eye-slash" title="Detta pressmeddelande visas bara för de som har direktlänk till det">&nbsp;Dolt</i></span>
                              </a>
                          </div>
													<% end %>
                      </div> <!-- / .caption -->
                      <div class="clearfix"></div>
                  </div> <!-- / .thumbnail -->
									<% end %>

                  <div class="text-center">
                      <%= link_to "Visa alla pressmeddelanden", press_room_press_releases_path(@press_room), class: "btn btn-default", role: "button" %>
                  </div>

              </div> <!-- / .col -->
          </div> <!-- / .row -->
          <div class="push"></div>
      </div> <!-- / .short-page -->
