<h1>Listing fundings</h1>

<table>
  <thead>
    <tr>
      <th>Investment type</th>
      <th>Date</th>
      <th>Name</th>
      <th>Sum</th>
      <th>Press room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fundings.each do |funding| %>
      <tr>
        <td><%= funding.investment_type %></td>
        <td><%= funding.date %></td>
        <td><%= funding.name %></td>
        <td><%= funding.sum %></td>
        <td><%= funding.press_room_id %></td>
        <td><%= link_to 'Show', funding %></td>
        <td><%= link_to 'Edit', edit_funding_path(funding) %></td>
        <td><%= link_to 'Destroy', funding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funding', new_funding_path %>
