<div class="short-page">
  <div class="container">

<% if can? :manage, Category %>

<div class="row">
	<div class="col-sm-6">
	<%= link_to new_category_path do %> 
    <button type="button" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Ny kategori</button>
  <% end %>
	</div>
</div>
<div class="clearfix"></div><br>
<% end %>

<h2>Välj bransch</h2>

<% @categories.each do |category| %>

      <div class="col-sm-6">
				<%= link_to category, class: "business-field-link" do %>
          <div class="panel panel-default fixed-height-panel">
            <div class="panel-body">
              <div class="media">

                <div class="media-left media-middle">
                  <img class="media-object" src="media/guide_icon.png" alt="...">
                </div>

                <div class="media-body">
                  <h4 class="media-heading"><%= category.name %></h4>
                  <p><%= category.description %></p>
                  <button type="button" class="btn btn-primary">Välj</button>
									
                </div> <!-- / .media-body -->

              </div> <!-- / .media -->
            </div> <!-- / .panel-body -->
          </div> <!-- / .panel -->
            <% if can? :manage, Category %>
              <%= link_to edit_category_path(category), class: "pull-right" do %>
                <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp;Redigera kategori</button>
              <% end %>

              <%= link_to category_path(category), method: "_destroy" do %>
                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;Ta bort kategori</button>
              <% end %>
            <% end %>
            <br><br>
				<% end %>
      </div> <!-- / .col -->

<% end %>


    </div> <!-- / .container -->


  <div class="push"></div>
</div> <!-- / .short-page -->