<div class="short-page">
  <div class="container">

<% if can? :manage, Category %>

<div class="row">
	<div class="col-sm-6">
	<%= link_to "Ny kategori", new_category_path %> 
	</div>
</div>
<div class="clearfix"></div><br>
<% end %>

<% @categories.each do |category| %>

      <div class="col-sm-6">
				<%= link_to category, class: "business-field-link" do %>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                 <!--<div class="media-left media-middle">
                  <img class="media-object" src="media/img.png" alt="...">
                </div>-->
                <div class="media-body">
                  <h4 class="media-heading"><%= category.name %></h4>
                  <p><%= category.description %></p>
									
									<p>
										<% if can? :manage, Category %>
											<%= link_to "Redigera kategori", edit_category_path(category) %> | <%= link_to "Ta bort kategori", category_path(category), method: "_destroy" %>
										<% end %>
									</p>
                </div>
              </div>
            </div>
          </div>
				<% end %>
      </div>

<% end %>


    </div>


  <div class="push"></div>
</div>