<div class="short-page">
  <div class="container">
	

	<div class="col-sm-6">
		<h3><%= @category.name %></h3>
		<p><%= @category.description %></p>
		<% if can? :manage, PressReleaseType %>
					<p><%= link_to 'Ny pressmeddelande-typ', new_category_press_release_type_path(@category) %></p>
		<% end %>
	</div>
	
	
	
	<div class="clearfix"></div>

<% @category.press_release_types.each do |press_release_type| %>

      <div class="col-sm-6">
				<%= link_to "#{request.protocol}#{request.host_with_port}/#{current_press_room.slug}/pressreleases/new?press_release_type_id=#{press_release_type.id}", class: "business-field-link" do %>
				
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                <!--<div class="media-left media-middle">
                  <img class="media-object" src="media/img.png" alt="...">
                </div>-->
                <div class="media-body">
                  <h4 class="media-heading"><%= press_release_type.name %></h4>
                  <p><%= press_release_type.description %></p>

									<% if can? :manage, PressReleaseType %>
									<p>
										<%= link_to "Redigera pressmeddelandetyp", edit_category_press_release_type_path(@category, press_release_type) %> <br> <%= link_to "Ta bort pressmeddelandetyp", category_press_release_type_path(@category, press_release_type), method: "_destroy" %>
									</p>
									<% end %>
									
                </div>
              </div>
            </div>
          </div>
				<% end %>
      </div>
<% end %>		
    </div>

  <div class="push"></div>
</div>