<%= render 'press_releases/fields/handle_date' %>

<div class="question" id="q">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title text-left"><%= field.question.gsub(/CompanyName/, "#{@press_room.company_name}").gsub(/CompanyName's/, "#{@press_room.company_name.possessive}") %></p>
                    </div> <!-- / .panel-heading -->
                    <div class="panel-body">
						<%= f.label field.name %><br />
						<% if @date.blank? %>
						<%= f.date_select field.name %>
						<% else %>
						<%= f.date_select field.name, selected: @date %>
						<% end %>
                    </div> <!-- / .panel-body -->
                </div> <!-- / .panel -->
            </div> <!-- / .col-xs-12 -->
        </div> <!-- / .row -->
    </div> <!-- / .container-fluid -->
</div> <!-- / .question -->