<footer class="footer">
    <div class="container">
        <ul class="list-inline">
            <li><%= link_to "Om", om_path %></li>
            <li><%= link_to "FAQ", questions_path %></li>
            <li><%= link_to "Användarvillkor", anvandarvillkor_path %></li>
            <li><%= link_to "Blogg", "http://blog.newshubby.com/", target: "_blank" %></li>
            <li><%= link_to "http://twitter.com/newshubby/", target: "_blank" do %><i class="fa fa-twitter"></i><% end %></li>
            <li><%= link_to "http://facebook.com/newshubby/", target: "_blank" do %><i class="fa fa-facebook"></i><% end %></li>
        </ul>
    </div>
</footer>